
/* Your CSS Code here. */

.holder{
width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-tems:center;
	
	
}
.item-1{
	align:center;
background-color:red;
	width:100px;
	height:100px;
}